*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(180deg,#49d0d0,#eefcff);
    min-height:100vh;
}

.header{
    width:90%;
    margin:20px auto;
    padding:18px 30px;
    background:#fff;
    border-radius:40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 6px 18px rgba(0,0,0,.15);
}

.home{
    width:450px;
    margin:120px auto;
    background:#fff;
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.home h1{
    color:#00897b;
    margin-bottom:20px;
}

.home p{
    margin-bottom:25px;
    color:#555;
}

.home button,
.record{
    background:#00897b;
    color:white;
    border:none;
    padding:14px 28px;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

.home button:hover,
.record:hover{
    background:#00695c;
}

.main{
    width:95%;
    margin:20px auto;
    display:flex;
    gap:25px;
}

.video-box{
    flex:2;
    background:#fff;
    padding:20px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
}

.video-container{
    position:relative;
}

#camera{
    width:100%;
    height:420px;
    background:black;
    border-radius:15px;
    object-fit:cover;
}

.ai-box{
    position:absolute;
    bottom:15px;
    right:15px;
    width:140px;
    height:180px;
    border-radius:12px;
    overflow:hidden;
    border:4px solid white;
}

.ai-box img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.info{
    flex:1;
    background:#fff;
    padding:25px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
}

#question{
    margin-top:10px;
    font-weight:bold;
    color:#00695c;
}

#transcript{
    margin-top:10px;
    min-height:180px;
    background:#f4f4f4;
    padding:15px;
    border-radius:10px;
}